/* $Id$ */
#pocyclebg {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/pocyclebg.png',sizingMethod='scale');
	left: 50%;
	margin-left: -255px;
}
table tr td div>div#pocyclebg {
	background: url(/images/pocyclebg.png) no-repeat;
}
#pocycle #createpo {
	right: 483px;
	top: 25px;
}
#pocycle #createpo #createpobtn {
	float: left;
}
#pocycle #submitapprove {
	left: 332px;
}
#pocycle #submitapprove #submitapprovebtn {
	float: left;
}
#pocycle #porejected {
	left: 577px;
}
#pocycle #porejected #rejectedbtn {
	float: left;
}
#pocycle #poapproved {
	right: 214px;
}
#pocycle #poapproved #approvedbtn {
	float: left;
}
#pocycle #poordered {
	left: 552px;
}
#pocycle #poordered #orderedbtn {
	float: left;
}
#pocycle #partialreceive {
	right: 208px;
	top:196px;
}
#pocycle #partialreceive #partialreceivebtn {
	float: left;
}
#pocycle #partialreceive2 {
	left: 551px;
}
#pocycle #partialreceive2 #partialreceivebtn2 {
	float: left;
}
#pocycle #invoicereceived {
	right: 392px;
}
#pocycle #invoicereceived #receivebtn {
	float: left;
}
#pocycle #paymentdone {
	right: 531px;
}
#pocycle #paymentdone #paymentbtn {
	float: left;
}
#pocycle #closedpo {
	right: 595px;
}
#pocycle #closedpo #closedpobtn {
	float: left;
}
.pobtn1l {
	left:-9px;
	background: url(/images/pobtn1l.gif) no-repeat;
}
.pobtn1r {
	right:-9px;
	background: url(/images/pobtn1r.gif) no-repeat;
}
.pobtn2l {
	left:-9px;
	background: url(/images/pobtn2l.gif) no-repeat;
}
.pobtn2r {
	right:-9px;
	background: url(/images/pobtn2r.gif) no-repeat;
}
.pobtnr1l {
	left:-9px;
	background: url(/images/potbtnr1l.gif) no-repeat;
}
.pobtnr1r {
	right:-9px;
	background: url(/images/potbtnr1r.gif) no-repeat;
}
.potbtng1l {
	left:-9px;
	background: url(/images/potbtng1l.gif) no-repeat;
}
.potbtng1r {
	right:-9px;
	background: url(/images/potbtng1r.gif) no-repeat;
}
.pobtn3l {
	left:-9px;
	background: url(/images/pobtn3l.gif) no-repeat;
}
.pobtn3r {
	right:-9px;
	background: url(/images/pobtn3r.gif) no-repeat;
}
.showhidearrow {
	float: right;
}
.textStyle {
	padding-left: 2px;
}
table.AllPOItemList tr.rowHighlight td {
	padding-left: 3px;
}
#createpo .pocyclebg-bullet {
	right:-8px;
}
#submitapprove .pocyclebg-bullet {
	left: -7px;
}
#porejected .pocyclebg-bullet-red {
	left: -12px;
}
#poapproved .pocyclebg-bullet-green {
	right: -7px;
}
#poordered .pocyclebg-bullet {
	left: -10px;
}
#partialreceive .pocyclebg-bullet {
	left: -9px;
}
#invoicereceived .pocyclebg-bullet {
	right: -6px;
}
#paymentdone .pocyclebg-bullet {
	right: -7px;
}
#closedpo .pocyclebg-bullet {
	right: -7px;
}
.poapproverlist-control .label {
	text-align:right;
	float:left;
}
.poapproverlist-added {
	margin-left:20px;
	float:left;
}
.poapproverlist-added img {
	right:-7px;
}
.poapprover-popup-col1 {
	float:left;
}
.poapprover-popup-col2 {
	margin-left:140px;	
}
.poapprover-popup-col2 .floatFields {
	float:left;
	padding-right:4px;
}
.poapproverlist-control .poapprove-control {
	margin-left:410px;	
	_margin-left:400px;
}
.poapproverlist-label {
	float:left;
}
.poapproverlist-value {
	margin-left:106px;
}
.po-approval-inforow { 
	margin:4px 10px 4px 30px;
}
.po-approval-inforow .approval-status-approved,
.po-approval-inforow .approval-status-rejected,
.po-approval-inforow .approval-status-pending { 
	padding:5px 0px 5px 25px;
}
.po-approval-inforow .approval-status-rejected { 
	 background-position:left;
}
.po-approval-inforow .approval-status-pending { 
	padding:5px 0px 5px 5px;
}
.po-approval-inforow .approval-status-approved { 
	background-position:left;
}
.po-approval-inforow .approval-controls{margin-left:7px;}
.approval-separator { 
	margin:10px 0 10px 30px;
}
.po-approval-inforow { 
	margin:4px 10px 4px 30px;
}
.poapproval-darrow {
	margin-right:24px; 
	float:left;
}
.poapprovelevels {
	float:left;
}
.poapprovel-nfydate {
	float:left; 
	margin-right:6px;
}