/*$Id$ */
.swdbsh {
	color: #3466a9;
	font: bold 13px Arial, Verdana, Helvetica, sans-serif;
	padding: 0px 5px;
}
.swshbdrr {
	width: 1px;
	height: 13px;
	background: #ff8a00;
}
.swdbhr {
	font: bold 15px Arial, Verdana, Helvetica, sans-serif;
	white-space: nowrap;
	color: #000;
}
.swdbfilter {
	color: #000;
	font: normal 13px Arial, Verdana, Helvetica, sans-serif;
	white-space: nowrap;
}
.swdbindexh {
	background: url(/images/swdbindexhbg.gif) left  no-repeat;
	color: #000;
	font: bold 15px Arial, Verdana, Helvetica, sans-serif;
	line-height: 29px;
	padding-left: 12px;
}
.swdbindexl {
	font-size: 12px;
	line-height: 17px;
	margin-left: 30px;
	background: url(/images/graydot-bdr.gif) 35% 65% repeat-x;
}
#Right-Section table tr>td.swdbindexl {
	background: url(/images/graydot-bdr.gif) 20% 65% repeat-x;
}
.swdbindexl span {
	background: #fff;
	color: #4b4b4b;
	padding-right: 1px;
}
.alignRight {
	text-align: right;
}
.swdbindexc, .swdbindexcr {
	font: bold 15px Arial, Verdana, Helvetica, sans-serif;
	text-decoration: none;
}
.swdbindexc {
	color: #376CA2;
}
.swdbindexcr {
	color: #f30000;
}
.swdbindexl  b {
	color: #000;
	font: bold 15px Arial, Verdana, Helvetica, sans-serif;
}
.floatRight {
	float: right;
}
a.swdblinks-dropmenu {
	color: #000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
	display: block;
	float: left;
	margin-left: 9px;
	font-weight: bold;
	white-space: nowrap;
	word-break: break-none;
}
b.swdblinks-drop-left {
	width: 4px;
	height: 24px;
	background: url(/images/swdblinks-drop-left.gif) top left no-repeat;
	display: block;
	float: left;
	cursor: hand;
}
span.swdblinks-drop-center {
	backgrowund: url(/images/swdblinks-drop-center.gif) repeat-x;
	height: 24px;
	line-height: 24px;
	float: left;
	padding: 0px 6px;
	cursor: hand;
}
b.swdblinks-drop-right {
	background: url(/images/swdblinks-drop-right.gif) no-repeat;
	width: 20px;
	height: 24px;
	float: left;
	cursor: hand;
}
#Dashboard .content h3 table tr td.h3leftbg {
	filter: none;
	width: 7px;
	height: 30px;
	display:none;
}
#Dashboard .content .component .color_vdb {
	background: #fff;
}
#Dashboard .content h3 table tr td.h3rightbg {
	filter: none;
	width: 13px;
	height: 30px;
}
#Dashboard .content h3 table tr td.h3middlebg {
	filter: none;
	width: 153px;
	height: 30px;
	padding: 8px 0px 6px 1px;
	text-align: left;
	font: bold 14px Arial, Verdana, Helvetica, sans-serif;
	color: #333;
}
#Dashboard .content .component {
	margin: 25px 0 0;
}
.gecko #Dashboard .content .container .paddingLeft {
	padding-left: 0px;
}
#Dashboard .content .component div.graph {
	background: url(/images/bg_shadow.gif) center 10% no-repeat #fff;
	text-align: center;
}
#Dashboard .content .component .cIn .col {
	background: #fff;
}
#Dashboard .content .component .cIn .graph {
	background: #fff !important;
}
#Dashboard .content .component .noL {
	position: relative;
	margin-top: 5px;
}
#Dashboard .content .component .noL .color_vdb {
	background: #F3F3F3;
}
#Dashboard .content .component .noL .info_graph {
	border-color: #4277AD;
	display: none;
}
#Dashboard .content .component .singleL .cIn .cb1, #Dashboard .content .component .singleL .cIn .cb2, #Dashboard .content .component .singleL .cIn .cb3, #Dashboard .content .component .singleL .cIn .cb4 {
	display: block;
	overflow: hidden;
}
#Dashboard .content .component .singleL .cIn .cb1, #Dashboard .content .component .singleL .cIn .cb2, #Dashboard .content .component .singleL .cIn .cb3 {
	height: 1px;
}
#Dashboard .content .component .singleL .cIn .cb2, #Dashboard .content .component .singleL .cIn .cb3, #Dashboard .content .component .singleL .cIn .cb4 {
	border-left: 1px solid #F3F3F3;
	border-right: 1px solid #F3F3F3;
}
#Dashboard .content .component .singleL .cIn .cb1 {
	margin: 0 5px;
	background: #F3F3F3;
}
#Dashboard .content .component .singleL .cIn .cb2 {
	margin: 0 3px;
	border-width: 0 2px;
}
#Dashboard .content .component .singleL .cIn .cb3 {
	margin: 0 2px;
}
#Dashboard .content .component .singleL .cIn .cb4 {
	height: 2px;
	margin: 0 1px;
}
#Dashboard .content .component .singleL .cIn .cb2, #Dashboard .content .component .singleL .cIn .cb3, #Dashboard .content .component .singleL .cIn .cb4 {
	border-color: #F3F3F3;
}
#Dashboard .content .component .singleL .cIn .cb1 {
	background: #F3F3F3
}
#Dashboard .content .component .singleL .cBox .cb1, #Dashboard .content .component .singleL .cBox .cb2, #Dashboard .content .component .singleL .cBox .cb3, #Dashboard .content .component .singleL .cBox .cb4 {
	display: block;
	overflow: hidden;
}
#Dashboard .content .component .singleL .cBox .cb1, #Dashboard .content .component .singleL .cBox .cb2, #Dashboard .content .component .singleL .cBox .cb3 {
	height: 1px;
}
#Dashboard .content .component .singleL .cBox .cb2, #Dashboard .content .component .singleL .cBox .cb3, #Dashboard .content .component .singleL .cBox .cb4 {
	border-left: 1px solid #B6D7EF;
	border-right: 1px solid #B6D7EF;
}
#Dashboard .content .component .singleL .cBox .cb1 {
	margin: 0 5px;
	background: #B6D7EF !important;
}
#Dashboard .content .component .singleL .cBox .cb2 {
	margin: 0 3px;
	border-width: 0 2px;
}
#Dashboard .content .component .singleL .cBox .cb3 {
	margin: 0 2px;
}
#Dashboard .content .component .singleL .cBox .cb4 {
	height: 2px;
	margin: 0 1px;
}
#Dashboard .content .component .singleL .cBox .color_vdb {
	background: #fff  !important;
}
#Dashboard .content .component .singleL .color_vdb {
	background: #fff  !important;
}
#Dashboard .content .component .singleL .info_graph {
	padding-top: 6px;
}
#Dashboard .content .component .singleL .color_vdb {
	margin-top: -4px;
}
#Dashboard .content .component .singleL>.info_graph {
	padding-top: 10px;
}
#Dashboard .content .component .singleL>.color_vdb {
	margin-top: -24px;
}
#Dashboard .content .component .doubleL {
	top: -15px;
}
#Dashboard>.content .component .doubleL {
	top: 0px;
}
#Dashboard .content .component .doubleL .cIn .cb1, #Dashboard .content .component .doubleL .cIn .cb2, #Dashboard .content .component .doubleL .cIn .cb3 {
	height: 1px;
}
#Dashboard .content .component .doubleL .cIn .cb2, #Dashboard .content .component .doubleL .cIn .cb3, #Dashboard .content .component .doubleL .cIn .cb4 {
	border-left: 1px solid #F3F3F3;
	border-right: 1px solid #F3F3F3;
}
#Dashboard .content .component .doubleL .cIn .cb1 {
	margin: 0 5px;
	background: #F3F3F3;
}
#Dashboard .content .component .doubleL .cIn .cb2 {
	margin: 0 3px;
	border-width: 0 2px;
}
#Dashboard .content .component .doubleL .cIn .cb3 {
	margin: 0 2px;
}
#Dashboard .content .component .doubleL .cIn .cb4 {
	height: 2px;
	margin: 0 1px;
}
#Dashboard .content .component .doubleL .cIn .cb2, #Dashboard .content .component .doubleL .cIn .cb3, #Dashboard .content .component .doubleL .cIn .cb4 {
	border-color: #F3F3F3;
}
#Dashboard .content .component .singleL .cIn .cb1 {
	background: #F3F3F3
}
#Dashboard .content .component .doubleL .cBox .cb1, #Dashboard .content .component .doubleL .cBox .cb2, #Dashboard .content .component .doubleL .cBox .cb3, #Dashboard .content .component .singleL .cBox .cb4 {
	display: block;
	overflow: hidden;
}
#Dashboard .content .component .doubleL .cBox .cb1, #Dashboard .content .component .doubleL .cBox .cb2, #Dashboard .content .component .doubleL .cBox .cb3 {
	height: 1px;
}
#Dashboard .content .component .doubleL .cBox .cb2, #Dashboard .content .component .doubleL .cBox .cb3, #Dashboard .content .component .doubleL .cBox .cb4 {
	border-left: 1px solid #B6D7EF;
	border-right: 1px solid #B6D7EF;
}
#Dashboard .content .component .doubleL .cBox .cb1 {
	margin: 0 5px;
	background: #B6D7EF !important;
}
#Dashboard .content .component .doubleL .cBox .cb2 {
	margin: 0 3px;
	border-width: 0 2px;
}
#Dashboard .content .component .doubleL .cBox .cb3 {
	margin: 0 2px;
}
#Dashboard .content .component .doubleL .cBox .cb4 {
	height: 2px;
	margin: 0 1px;
}
#Dashboard .content .component .doubleL .cBox .color_vdb {
	background: #F3F3F3  !important;
}
#Dashboard .content .component .doubleL .color_vdb {
	background: #F3F3F3  !important;
}
#Dashboard .content .component .doubleL .info_graph {
	padding-top: 10px;
}
#Dashboard .content .component .doubleL .color_vdb {
	margin-top: -44px;
}
#Dashboard .content .component .doubleL>.info_graph {
	padding-top: 2px;
}
#Dashboard .content .component .doubleL>.color_vdb {
	margin-top: -2px;
}
#Dashboard .content .component .doubleLscn .info_graph {
	border-color: #d3d3d3;
}
#Dashboard .content .component .doubleL {
	position: relative;
	margin-top: -2px;
}
#Dashboard .content .component .doubleL .info_graph {
	border-color: #B6D7EF;
}
#Dashboard .content .component .doubleL {
	position: relative;
	margin-top: -15px;
}
#Dashboard .content .component .doubleLscn {
	position: relative;
	margin-top: -2px;
}
#Dashboard .content .component .doubleLscn {
	position: relative;
	margin-top: -43px;
}
#Dashboard .content .component .doubleLscn span {
	height: 38px !important;
}
#Dashboard .content .component .doubleLscn>span {
	height: 30px !important;
}
#Dashboard .content .component .doubleLscn .info_graph b {
	width: 38% !important;
}
#Dashboard .content .component .doubleLscn .info_graph>b {
	width: 36% !important;
}
#Dashboard .content .component .doubleLscn .cInscn .cb2, #Dashboard .content .component .doubleLscn .cInscn .cb3, #Dashboard .content .component .doubleLscn .cInscn .cb4 {
	border-color: #d3d3d3;
}
#Dashboard .content .component .doubleLscn .cInscn .cb1 {
	background: #d3d3d3;
}
#Dashboard .content .component .doubleLscn .cBoxscn .cb2, #Dashboard .content .component .doubleLscn .cBoxscn .cb3, #Dashboard .content .component .doubleLscn .cBoxscn .cb4 {
	border-color: #d3d3d3;
}
#Dashboard .content .component .doubleLscn .cBoxscn .cb1 {
	background: #d3d3d3;
}
#Dashboard .content .component .cBoxast .cb2, #Dashboard .content .component .cBoxast .cb3, #Dashboard .content .component .cBoxast .cb4 {
	border-color: #d3d3d3;
}
#Dashboard .content .component .cBoxast .cb1 {
	background: #d3d3d3;
}
#Dashboard .content .component .cBoxast .color_ast {
	background: #FFF;
}
#Dashboard .content .component .cInscn {
	display: block;
	width: 100%;
	padding: 0px;
	margin: 0px;
	z-index: 100 !important;
	position: relative;
}
.form_curve .cBox {
	display: block;
	background: transparent;
	font-size: 1px;
}
#Dashboard .content .component .content {
	height: 242px;
	margin-top: 0px;
}
#Dashboard .content .component .content .lgbdrboxast {
	border: 1px #B6D7EF solid;
	border-top: none;
}
#Dashboard .content .component .lgbdrboxastnone {
	border: 1px #B6D7EF solid;
	border-top: none;
	margin-top: 0px;
	height: 240px !important;
}
#Dashboard .content .component>.lgbdrboxastnone {
}
#Dashboard .content td>.component .content .graph {
	height: 220px;
}
#Dashboard div.content table.container div.component>div.controls {
	display: none;
}
#Dashboard .content .component .graybdr {
	border: 1px #b4b4b4 solid;
}
#Dashboard .content .component .padtopfix {
	padding-top: 13px !important;
	height: auto
}
#Dashboard .content td>.component .padtopfix {
	height: 255px;
}
#Dashboard .content .component .imgpad {
	height: 277px;
}
#Dashboard .content td>.component .imgpad {
	height: 260px !important;
}
#Dashboard .content .component .graybdr2 {
	height: 260px;
	border: 1px #b4b4b4 solid;
}
#Dashboard .content .component .graybdr3 {
	border: 1px #b4b4b4 solid;
	height: 255px !important;
	background: #efefef url(/images/swdb-chartbg.gif) left bottom repeat-x !important;
}
#Dashboard .content .component .graybdr5 {
	border: 1px #b4b4b4 solid;
	height: 255px !important;
	background: #fff !important;
}
#Dashboard .content .component .graybdr4 {
	border: 1px #dedede solid;
}
#Dashboard .content .component .graybdr3 img {
	background: url(/images/bg_shadow2.gif) center center no-repeat;
}
#Dashboard .content .component .graybdr4 h4, #Dashboard .content .component .graybdr5 h4 {
	height: 10px;
	margin: 0px;
}
#Dashboard .content td .component .imgpad img, #Dashboard .content .component .graybdr2 img {
	margin: 10px 0px;
}
.ptop0px {
	padding-top: 0px;
}
.pm0px {
	margin: 0px !important;
	padding: 0px !important;
}
#Dashboard .content .component .content h4 {
	height: 10px;
	margin: 0px;
}
#Dashboard .content .component .lbboxctr {
	height: 240px !important;
	border: 1px #B6D7EF solid;
	border-bottom: none;
	border-top: none !important;
	background-color: #f3f3f3;
}
#Dashboard .content .component .lbboxctr h4 {
	height: 10px;
	margin: 0px;
}
#Dashboard .content .component .dgbox1 {
	height: 220px !important;
	border: 1px #d3d3d3 solid;
}
#Dashboard .content td>div.component .dgbox1 {
	height: 230px !important;
}
#Dashboard .content .component .dgbox1 h4 {
	height: 10px;
	margin: 0px;
}
#Dashboard .content .component .dgbox2 {
	height: 274px !important;
	border: 1px #d3d3d3 solid;
	background: #fff !important;
	width: 360px !important;
}
#Dashboard .content .component .dgbox2 h4 {
	height: 10px;
	margin: 0px;
}
#Dashboard .content .component .dgboxctr {
	height: 255px !important;
	border: 1px #B4B4B4 solid;
}
#Dashboard .content .component .dgboxctr h4 {
	height: 10px;
	margin: 0px;
}
#Dashboard .content .component .info {
	color: #656565;
	padding: 10px 0px;
}
#Dashboard .content .component .info a {
	font-weight: bold;
	color: #3566a8;
}
#Dashboard .content .component .info b {
	font-weight: normal;
}
.color_lb {
	background: #fff;
	color: #656565;
}
table.summary td a {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
.color_lb .cb2, .color_lb .cb3, .color_lb .cb4 {
	border-color: #B6D7EF !important;
}
.color_lb .cb1 {
	background: #B6D7EF !important;
}
#Dashboard .content .component .cIn .color_vdb {
	background: #fff;
}
.lbcurve {
	background: #fff !important;
	color: #656565 !important;
}
.lbcurve img {
	background: #fff !important;
}
.lbcurve a {
	color: #3566ab !important;
}
.lbcurve .cb2, .lbcurve .cb3, .lbcurve .cb4 {
	border-color: #B6D7EF !important;
}
.lbcurve .cb1 {
	background: #B6D7EF !important;
}
#Dashboard .content .component .singleL .lbcurve .cb4, #Dashboard .content .component .singleL .lbcurve .cb3, #Dashboard .content .component .singleL .lbcurve .cb2 {
	background: #ffff !important;
}
#Dashboard .content .component .doubleL .lbcurve .cb4, #Dashboard .content .component .doubleL .lbcurve .cb3, #Dashboard .content .component .doubleL .lbcurve .cb2 {
	background: #fff !important;
}
.dgcurve {
	background: #fff !important;
	color: #656565 !important;
	border-color: #d3d3d3 !important;
}
#Dashboard .content .component .singleL .dgcurve .cb4, #Dashboard .content .component .singleL .dgcurve .cb3, #Dashboard .content .component .singleL .dgcurve .cb2 {
	background: #fff !important;
	border-left: 1px #d3d3d3 solid !important;
	border-right: 1px #d3d3d3 solid !important;
}
#Dashboard .content .component .singleL .dgcurve .cb1, #Dashboard .content .component .doubleL .dgcurve .cb1 {
	background: #d3d3d3 !important;
}
#Dashboard .content .component .singleL, #Dashboard .content .component div>.singleL {
	position: relative
}
#Dashboard .content .component .singleL span {
	height: 15px!important;
	padding-top: 7px
}
#Dashboard .content .component .singleL>span {
	height: 19px!important;
	padding-top: 5px
}
#Dashboard .content .component .doubleL {
	position: relative;
	margin-top: -2px;
}
#Dashboard .content td>.component .doubleL {
	position: relative;
	margin-top: -50px;
}
#Dashboard .content .component .doubleL span {
	height: 58px !important;
}
#Dashboard .content .component .doubleL>span {
	height: 50px !important;
}
#Dashboard .content .component #complianceGraph img {
	margin-top: 30px;
}
.nocurve {
	display: none !important;
}
#Dashboard .content .component .info_graphgry {
	font-size: 9px;
	color: #333;
	padding: 6px 5px 0px 5px;
	display: block;
	text-align: center;
	margin-top: -10px;
}
#Dashboard .content .component .info_graphgry b {
	display: block;
	width: 33%;
	float: left;
}
#Dashboard .content .component .info_graphgry em {
	border-style: solid;
	height: 5px;
	padding: 0px 0px 0px 6px;
	margin: 3px;
	display: block;
	border-width: 1px 1px 1px 1px;
	float: left;
	font-size: 5px;
	position: relative;
	top: 2px;
}
#Dashboard .content .component .info_graphgry i {
	float: left;
	font-style: normal;
	padding: 2px 0px;
}
#Dashboard .content .component .info_graphgry .g_green {
	background: #a6ce39;
	border-color: #97bb34;
}
#Dashboard .content .component .info_graphgry .g_blue {
	background: #7d9cca;
	border-color: #6080af;
}
#Dashboard .content .component .info_graphgry .g_red {
	background: #fd6b54;
	border-color: #d25541;
}
#Dashboard .content .component .info_graphgry .g_orange {
	background: #f68c59;
	border-color: #d8784b;
}
#Dashboard .content .component .info_graphgry .g_yellow {
	background: #fcd755;
	border-color: #9f9f66;
}
#Dashboard .content td .component .cntast {
	border: 1px #d3d3d3 solid;
}
#Dashboard .content .component .cntscn {
	height: 224px;
}
#Dashboard .content .component .cntast {
	height: 218px;
}
#Dashboard .content td>.padr5 {
	padding-right: 5px;
}
#Dashboard .content td>.padl5 {
	padding-left: 5px;
}
#Dashboard .content .component .colorscn {
	background-image: url(/images/astgrpctrlbg.gif);
	background-position: center 4px;
	background-repeat: repeat-x;
	font-size: 12px;
	padding: 6px 5px 6px 5px;
}
#Dashboard .content .component .color_vdbscn {
	background-color: #E7E7E7;
}
#Dashboard .content .component .grbg .cb2, #Dashboard .content .component .grbg .cb3, #Dashboard .content .component .grbg .cb4 {
	border-color: #b4b4b4;
}
#Dashboard .content .component .grbg .cb1 {
	background: #b4b4b4
}
#Dashboard .content .component .cbg, #Dashboard .content .component .cbg, #Dashboard .content .component .cbg {
	border-color: #b4b4b4 !important;
}
#Dashboard .content .component .cbg {
	background: #EFEFEF !important;
}
#Dashboard .content div.controls {
	top: 23px;
	background: url(/images/swdb-ctrlbg.gif) repeat-x;
	height: 23px;
	width: 99.8%;
	border-right: 1px #4277AD solid;
}
#Dashboard .content .component h4 {
	visibility: hidden !important;
}
#Dashboard .content div>.controls {
	top: 51px;
	border-left: 1px #4277AD solid;
	width: 99.6%;
	z-index: 10 !important
}
#Dashboard .content div.controls img {
	border: 0px;
	margin-left: 3px;
}
#Dashboard .content div.controls a.more {
	background: none;
	border: none;
	width: 170px;
	padding: 5px 28px 5px 8px;
	font-weight: normal;
}
#Dashboard .content div.controls a:hover.more {
	color: #2d5893;
	background: none;
}
#Dashboard .content div.controls b.morearrow {
	background: url(/images/swdbmorearrow.gif) no-repeat !important;
	width: 15px !important;
	height: 14px !important;
	top: 5px !important;
}
.ast-scansum td {
	height: 44px;
	border-bottom: 1px #e5e5e5 solid;
	font: normal 13px Arial, Verdana, Helvetica, sans-serif;
	color: #616161;
}
.ast-scansum td div.label {
	padding-left: 18px;
}
.ast-scansum td i {
	padding: 0px 5px;
}
.assumbdrr {
	border-right: 1px #e5e5e5 solid;
}
.assumbdrl {
	border-left: 1px #e5e5e5 solid;
}
.scansumcnt, .scansumcnti {
	color: #366594;
	font: bold 13px Arial, Verdana, Helvetica, sans-serif;
	text-decoration: none;
}
.scansumcnti {
	color: #F00;
}
.scansumedit, .scansumedit2 {
	color: #3466a9;
	font: normal 13px Arial, Verdana, Helvetica, sans-serif !important;
}
.scansumedit2 {
	text-decoration: underline;
	font-weight: bold !important;
}
.scansumenc {
	color: #3466a9;
	font: normal 13px Arial, Verdana, Helvetica, sans-serif;
}
.dayselect {
	font: bold 13px Arial, Verdana, Helvetica, sans-serif;
	text-decoration: none;
}
#Dashboard .content .component .colorscn table tr td {
	font-size: 12px;
}
.asthscnsumbtnl {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/asthscnsumbtnl.png',sizingMethod='scale');
	height: 24px;
	width: 5px;
	display: block;
}
table tr>td img.asthscnsumbtnl, table tr>td.asthscnsumbtnl {
	background: url(/images/asthscnsumbtnl.png) top right no-repeat;
}
.asthscnsumbtnr {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/asthscnsumbtnr.png',sizingMethod='scale');
	height: 24px;
	width: 5px;
	display: block;
}
table tr>td img.asthscnsumbtnr, table tr>td.asthscnsumbtnr {
	background: url(/images/asthscnsumbtnr.png) top right no-repeat;
}
.asthscnsumbtnm, .asthscnsumbtnms {
	background: url(/images/asthscnsumbtnm.png) repeat-x;
	white-space: nowrap;
}
.asthscnsumbtnm {
	padding: 0px 7px;
}
.asthscnsumbtnms {
	padding: 0px 5px;
}
.asthscnsumbtnm a, .asthscnsumbtnms a {
	text-decoration: none;
}
.asthscnsumbtnm a {
	font: bold 13px Arial, Verdana, Helvetica, sans-serif;
}
.asthscnsumbtnms a {
	font: normal 13px Arial, Verdana, Helvetica, sans-serif !important;
}
.astgrpctrl {
	height: 51px;
	background: url(/images/astgrpctrlbg.gif) repeat-x;
}
.astgrpctrl2 {
	height: 39px;
	margin-top: 13px;
	background: url(/images/astgrpctrlbg.gif) bottom left repeat-x;
	border: 1px #B6D7EF solid;
	border-bottom: none;
	display: block;
}
.astgrpctrl3 {
	height: 39px;
	margin-top: 0px;
	background: url(/images/astgrpctrlbg.gif) bottom left repeat-x;
	display: block;
}
.dbborder {
	border:1px solid #7F7F7F;	
}
div.content .astgrpctrl table tr td b,div.content .astgrpctrl2 table tr td b,div.content .astgrpctrl3 table tr td b,div.content .astgrpctrlh {
	color: #717171;
	font: bold 12px Arial, Verdana, Helvetica, sans-serif;
	white-space: nowrap;
	text-decoration: none;
	margin-left:6px;
}
div.content .astgrpctrlh {
	position:relative;
	top:12px;
}
#Dashboard .content .component ul.grouplist {
	margin: 0px;
	padding: 0px 14px;
	height: 168px;
	overflow: auto;
	margin-top: 12px;
}
#Dashboard .content .component div>ul.grouplist {
	margin-top: 10px;
}
#Dashboard .content .component ul.grouplist li {
	height: 27px;
	list-style: none;
	float: none;
	border-bottom: 1px #D9EAF8 solid;
	margin: 0px;
	padding: 0px;
	background: url(/images/grouplistblt.gif) 5px 16px no-repeat;
	padding: 8px 0 8px 25px;
}
#Dashboard .content .component ul.grouplist li.dynamic {
	height: 27px;
	list-style: none;
	float: none;
	border-bottom: 1px #D9EAF8 solid;
	margin: 0px;
	padding: 0px;
	background: url(/images/Dynamic-Group.gif) 2px 14px no-repeat;
	padding: 8px 0 8px 25px;
}
#Dashboard .content .component ul.grouplist li a {
	font: normal 12px/27px Verdana, Arial, Helvetica, sans-serif;
	color: #616161;
	display: block;
	text-decoration: none;
}
#Dashboard .content .component ul.grouplist li a:hover {
	text-decoration: underline;
}
.aeaudittrialicn {
	background: url(/images/aeaudittrialicn.gif) no-repeat;
	width: 22px;
	height: 17px;
}
.scandropuparw, #Dashboard .content .component .graybdr3 img.scandropuparw, #Dashboard .content .component .graybdr5 img.scandropuparw {
	background: url(/images/scandropuparw.gif) no-repeat;
	width: 12px;
	height: 6px;
}
.scandroparw, #Dashboard .content .component .graybdr3 img.scandroparw, #Dashboard .content .component .graybdr5 img.scandroparw {
	background: url(/images/scandroparw.gif) no-repeat;
	width: 12px;
	height: 13px;
}
.scandroparw1, #Dashboard .content .component .graybdr3 img.scandroparw1, #Dashboard .content .component .graybdr5 img.scandroparw1 {
	background: url(/images/scandroparw1.gif) no-repeat;
	width: 15px;
	height: 8px;
}
.displaychartscroll {
	width: 360px;
	height: 221px;
	overflow-x: auto;
}
div>div.displaychartscroll {
	height: 226px;
}
.ie7 .displaychartscroll img {
	margin-top: 12px;
}
a.bt_dashboard_max {
	background: url(/images/bt_dash_max.gif) no-repeat !important;
	width: 17px !important;
	height: 15px !important;
	display: block !important;
	float: none !important;
	cursor: hand !important;
	font: normal 12px Arial, Verdana, Helvetica, sans-serif !important;
	text-decoration: none !important;
	white-space: nowrap;
	padding-left: 22px;
}
.allastbg {
	background: #fff !important;
	padding: 7px 0px;
	margin-bottom: 10px;
}
.allastbg th {
	color: #333 !important;
	font: bold 13px Arial, Helvetica, sans-serif !important;
	padding: 0px 0px 2px 0px !important;
}
.allastbg .color_lb {
	background: #f0f0f0;
}
.allastbg .color_db {
	background: #fff !important;
}
.ie .allassets_bottom, .ie .allassets {
	padding: 5px 15px;
}
.gecko .allassets_bottom, .gecko .allassets {
	padding: 0px 15px;
}
.allassets_bottom td a, .allassets td a {
	font-weight: normal;
}
.allastbg .summary {
	margin: 0px;
	border-bottom: none;
}
.allastbg .summary td {
	padding: 3px 3px;
}
.allassets {
	border-left: 1px #d7d7d7 solid;
}
#Dashboard .content .component h2 {
	padding-top: 9px !important;
	color: #333 !important;
	font: normal 18px Arial, Helvetica, sans-serif !important;
	height: 17px !important;
}
#Dashboard .content .component .content>h2 {
	padding-top: 6px !important;
}
.padfx46 {
	padding: 8px 0px;
}
.padfx60 {
	padding: 6px 0px;
}
.color_db {
	background: #fff !important;
}
.gbdr {
	background: #fff !important;
	color: #656565 !important;
}
.gbdr1 {
	background: #fff !important;
	border-left: 1px #DEDEDE solid !important;
	border-right: 1px #DEDEDE solid !important;
}
.gbdr img {
	background: #fff !important;
}
.gbdr a {
	color: #3566ab !important;
}
.gbdr .cb2, .gbdr .cb3, .gbdr .cb4 {
	border-color: #dedede !important;
}
.gbdr .cb1 {
	background: #dedede !important;
}
.gbdr b.b {
	font-weight: normal;
	color: #000;
}
#Dashboard .content .nogroupmsg {
	color: #616161;
	font-size: 12px;
	padding-top: 90px;
	text-align: center;
	height: 98px;
}
.ie #Dashboard .content .component .content .nogroupmsg {
	height: 190px;
}
.dbrdcontent {
	padding: 10px;
	background: #f7f7f7;
}
.dbrdcontent-selfservice {
	padding: 26px 30px 40px 30px !important;
}
.dbrdhr {
	color: #214aad;
	font: normal 18px Arial, Verdana, Helvetica, sans-serif;
}
.dbrddrophr {
	color: #727272;
	font: bold 13px Arial, Verdana, Helvetica, sans-serif;
	white-space: nowrap;
}
.dboardviewdropmiddle {
	height: 21px;
	width: 205px;
	background: url(/images/dboardviewdropmiddle.gif) repeat-x;
}
.dboardviewdropleft {
	width: 5px;
	height: 21px;
	background: url(/images/dboardviewdropleft.gif) no-repeat;
}
.dboardviewdropmiddle a {
	font: normal 12px Arial, Verdana, Helvetica, sans-serif;
	display: block;
}
.dboardviewdropright {
	width: 21px;
	height: 21px;
}
.dboardviewdropright a {
	background: url(/images/dboardviewdropright.gif) no-repeat;
	width: 21px;
	height: 21px;
	display: block;
}
.dbrdchartpanel {
	background: #fff;
}
.dbrdchart-tl {
	background: url(/images/dbrdchart-tl.gif) no-repeat;
	width: 6px;
	height: 6px;
}
.dbrdchart-tr {
	background: url(/images/dbrdchart-tr.gif) no-repeat;
	width: 6px;
	height: 6px;
}
.dbrdchart-bl {
	background: url(/images/dbrdchart-bl.gif) no-repeat;
	width: 8px;
	height: 10px;
}
.dbrdchart-br {
	background: url(/images/dbrdchart-br.gif) no-repeat;
	width: 8px;
	height: 10px;
}
.dbrdchart-tm {
	border-top: 1px #dddfe1 solid;
}
.dbrdchart-bm {
	background: url(/images/dbrdchart-bm.gif) repeat-x;
	height: 10px;
}
.dbrdchthrl {
	background: url(/images/dbrdchthrl.gif) no-repeat;
	width: 4px;
	height: 24px;
}
.dbrdchthrr {
	background: url(/images/dbrdchthrr.gif) no-repeat;
	width: 4px;
	height: 24px;
}
.dbrdchthrm, .dbrdchthrm table tr td {
	background: url(/images/dbrdchthrm.gif) repeat-x;
	height: 24px;
	font: bold 11px Arial, Verdana, Helvetica, sans-serif;
}
.dbrdcht-pieboxbg {
	background: url(/images/dbrdcht-pieboxbg.gif) repeat-x;
	height: 192px;
}
.dbrdcht-pieboxml {
	background: url(/images/dbrdcht-pieboxml.gif) repeat-y;
	width: 4px;
	height: 148px;
}
.dbrdcht-pieboxmr {
	background: url(/images/dbrdcht-pieboxmr.gif) repeat-y;
	width: 4px;
	height: 148px;
}
.dbrdcht-pieboxbl {
	background: url(/images/dbrdcht-pieboxbl.gif) no-repeat;
	width: 4px;
	height: 38px;
}
.dbrdcht-pieboxbr {
	background: url(/images/dbrdcht-pieboxbr.gif) no-repeat;
	width: 4px;
	height: 38px;
}
.dbrdcht-chartboxml {
	background: url(/images/dbrdcht-chartboxml.gif) repeat-y;
	width: 4px;
	height: 160px;
}
.dbrdcht-chartboxmr {
	background: url(/images/dbrdcht-chartboxmr.gif) repeat-y;
	width: 4px;
	height: 160px;
}
.dbrdcht-chartboxbl {
	background: url(/images/dbrdcht-chartboxbl.gif) no-repeat;
	width: 4px;
	height: 38px;
}
.dbrdcht-chartboxbr {
	background: url(/images/dbrdcht-chartboxbr.gif) no-repeat;
	width: 4px;
	height: 38px;
}
.dbrdcht-chartboxbg {
	background: url(/images/dbrdcht-chartboxbg.gif) repeat-x;
	height: 198px;
}
.dbrdcht-chartboxbg a {
	text-decoration: none;
}
.dbrdchtnotesh {
	color: #727272;
	font: bold 12px Arial, Verdana, Helvetica, sans-serif;
	white-space: nowrap;
}
.dbrdchtnotescnt1 {
	color: #f00;
	font: bold 15px Arial, Verdana, Helvetica, sans-serif;
}
.dbrdchtnotescnt2 {
	color: #214aad;
	font: bold 15px Arial, Verdana, Helvetica, sans-serif;
}
.dbrdchtindic1 {
	background-image: url(/images/dbrdchtindicbg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ff0000;
	width: 11px;
	height: 11px;
}
.dbrdchtindic2 {
	background-image: url(/images/dbrdchtindicbg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #f3aa00;
	width: 11px;
	height: 11px;
}
.dbrdchtindic3 {
	background-image: url(/images/dbrdchtindicbg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ede741;
	width: 11px;
	height: 11px;
}
.dataCountTable {
	width: 100%
}
.dataCountTable td {
	border-bottom: 1px #e4e4e4 solid;
	padding: 2px 2px 2px 3px;
	font: normal 12px Arial, Verdana, Helvetica, sans-serif;
	text-align: right;
}
.dataCountTable td.col2 a, .dataCountTable td.col3 a {
	color: #000;
	font-weight: normal;
}
.dataCountTable td.col4 a {
	color: #f00;
	font-weight: normal;
}
.dataCountTable td.col2 a:hover, .dataCountTable td.col3 a:hover, .dataCountTable td.col4 a:hover {
	color: #f00;
}
.dataCountTable td.col1 {
	padding-left: 10px;
	width: auto;
	text-align: left;
	color: #000;
	font-weight: normal;
}
.dataCountTable td.col2 {
	padding-right: 15px;
}
.dataCountTable td.col3 {
	padding-right: 18px;
}
.dataCountTable td.col4 {
	padding-right: 24px;
	color: #f00;
}
.dataCountTable tr th {
	text-align: center;
	background: #e4e4e4;
	font: bold 12px Arial, Verdana, Helvetica, sans-serif;
	padding-right: 0px;
}
.dataCountTable a {
	width: 100%;
}
.dataCountTable td.coltot {
	font: bold 12px Arial, Verdana, Helvetica, sans-serif;
	width: auto;
}
.dataCountTable td.coltot a {
	font: bold 12px Arial, Verdana, Helvetica, sans-serif;
	text-decoration: none;
	color: #f00;
}
.dbrdchtslt {
	width: 38%;
	float: right;
	position: relative;
	margin-top: -15px;
	text-align: right;
}
table tr>td .dbrdchtslt {
	margin-top: -15px;
}
.dbrdcht-pieboxml2 {
	background: url(/images/dbrdcht-pieboxml.gif) repeat-y;
	width: 4px;
	height: 127px;
}
.dbrdcht-pieboxmr2 {
	background: url(/images/dbrdcht-pieboxmr.gif) right repeat-y;
	width: 4px;
	height: 127px;
}
.dbrdcht-databoxbgfix {
	background: url(/images/dbrdcht-databoxbg.gif) bottom repeat-x;
}
.dbrdcht-databoxbgbfix {
	background: url(/images/dbrdcht-databoxbg.gif) bottom repeat-x;
}
.dbrdcht-databoxbgbfix div.d {
	position: relative;
}
.dbrdcht-databoxbgbfix i.i {
	background: url(/images/dbrdcht-pieboxbl.gif) no-repeat;
	width: 4px;
	height: 38px;
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.dbrdcht-databoxbgbfix b.b {
	background: url(/images/dbrdcht-pieboxbr.gif) no-repeat;
	width: 4px;
	height: 38px;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.txtlnk3 {
	color: #2f56b1;
	font: normal 12px Arial, Helvetica, sans-serif !important;
	text-decoration: underline;
}
.dbrdcht-pieboxmlb2 {
	background: url(/images/dbrdcht-pieboxbl.gif) no-repeat;
	width: 4px;
	height: 38px;
}
.dbrdcht-pieboxmrb2 {
	background: url(/images/dbrdcht-pieboxbr.gif) no-repeat;
	width: 4px;
	height: 38px;
}
.LicenseAgreementMenus, .assetDBMenus {
	width: 210px;
	padding: 0px;
	margin: 0px;
	border: 1px solid #7F7F7F;
	background: #fff;
	position: absolute;
	z-index: 10;
}
.LcnAgreeDropPos {
	position:relative;	
	display:inline-block;
	width:auto;
	float:right;
}
.LicenseAgreementMenus {
	top: 22px;
	right:16px;
}
.LicenseAgreementMenus li, .assetDBMenus li {
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.LicenseAgreementMenus li a, .assetDBMenus li a {
	display: block;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	border-left: 4px solid #eee;
	border-right: 4px solid #eee;
	height: auto;
	color: #666;
	text-decoration: none;
	font-weight: normal;
}
.ie .LicenseAgreementMenus li a, .ie .assetDBMenus li a {
	width: 100%;
}
.LicenseAgreementMenus li a:hover, .assetDBMenus li a:hover {
	color: #000;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #eee;
	border-left: 4px solid #6399a8;
	border-right: 4px solid #6399a8;
	background: #e9f6f9 transparent url(/images/autocompleteitembullet1.gif) no-repeat 8px 5px;
	text-decoration: none;
}
.assetDBMenus {
	top: 59px;
	left: 12px;
}
.component23 {
	position: relative;
}
.LicenseAgreementMenus li a, .assetDBMenus li a {
	background: #fff url(/images/autocompleteitembullet.gif) no-repeat 7px 5px;
	padding: 1px 1px 1px 15px;
}
.dashboard-site-dropdown {
	position: relative;
	z-index: 10;
}
.dashboard-site-dropdown2 {
	z-index: 10;
}
.dashboard-site-dropdown ul, .dashboard-site-dropdown2 ul {
	margin: 0px;
	padding: 0px;
}
.dashboard-site-dropdown ul li {
	position: relative;
	cursor: default;
	list-style: none;
	width: 239px;
	text-align: left;
}
.dashboard-site-dropdown2 ul li {
	cursor: default;
	list-style: none;
	width: 239px;
	text-align: left;
}
.dashboard-site-dropdown ul li a.dropmenu, .dashboard-site-dropdown2 ul li a.dropmenu {
	padding: 0px;
	height: 21px;
	width: 100%;
	background: url(/images/dboardviewdropmiddle.gif) repeat-x;
	display: block;
	line-height: 21px;
	text-align: left;
}
.dashboard-site-dropdown ul li a.dropmenu:hover, .dashboard-site-dropdown2 ul li a.dropmenu:hover {
	color: #000;
}
.dashboard-site-dropdown ul li a.dropmenu em, .dashboard-site-dropdown2 ul li a.dropmenu em {
	width: 5px;
	height: 21px;
	display: block;
	float: left;
	background: url(/images/dboardviewdropleft.gif) no-repeat;
}
.dashboard-site-dropdown ul li a.dropmenu i, .dashboard-site-dropdown2 ul li a.dropmenu i {
	width: 21px;
	height: 21px;
	display: block;
	float: right;
	background: url(/images/dboardviewdropright.gif) no-repeat;
}
.dashboard-site-dropdown ul li ul, .dashboard-site-dropdown2 ul li ul {
	margin: 0px;
	padding: 0px;
	z-index: 99;
	position: absolute;
	width: 239px;
	height: 201px;
	overflow-x: hidden;
	overflow-y: auto;
}
.dashboard-site-dropdown ul li ul li, .dashboard-site-dropdown2 ul li ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	background: #DDDFE1;
	width: 100%;
	border-bottom: 1px #DDDFE1 solid;
}
.dashboard-site-dropdown ul li ul li a, .dashboard-site-dropdown2 ul li ul li a {
	display: block;
	text-decoration: none;
	margin: 0px 1px;
	white-space: nowrap;
	color: #000;
	background: #f7f7f7;
	width: 237px;
	padding: 3px;
}
.dashboard-site-dropdown ul>li ul li a, .dashboard-site-dropdown2 ul>li ul li a {
	width: 231px;
}
.dashboard-site-dropdown ul li ul li a:hover, .dashboard-site-dropdown2 ul li ul li a:hover {
	color: #000;
	background: #e9e9e9;
	display: block;
}
.dbrdcht-scrollcolboxmr {
	background: url(/images/dbrdcht-pieboxmr.gif) repeat-y;
	width: 4px;
	height: 130px;
}
.dbrdcht-scrollcolboxml {
	background: url(/images/dbrdcht-pieboxml.gif) repeat-y;
	width: 4px;
	height: 130px;
}
.ie a.lcnactnsmnu {
	float:none;
}